.pvdevproject
*.pt
*.user
*.pyc
*.vtk
*.vts
*.avi
*.bak
*.so
*.a

/build
/data/img
/data/img_packed
/data/jpg
/data/2DUV
/data/2DUV2
/data/concave
/data/convex
/data/concave_sep
/data/ori
/data/concave_example
/results
/outcmaes
/data/img_big
/data/img_packed_big
__pycache__
